@font-face {
    font-family: CalcFont;
    src: url(digital-7.ttf);
}
body {
    display: flex;
    justify-content: center;
}
#container {
    height: 600px;
    width: 400px;
    margin-top: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#display {
    background-color: grey;
    height: 70px;
    font-family: CalcFont;
    text-align: right;
    font-size: 70px;
    margin-right: 5px;
    margin-left: 5px;
}

#op_disp {
    background-color: grey;
    height: 30px;
    font-family: CalcFont;
    text-align: right;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 30px;
}

#buttons {
    flex: 1;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

button {
    width: 80px;
    height: 89px;
    box-sizing: border-box;
    flex: 1 1 auto;
}

.op {
    background-color: blue;
    font-weight: 700;
    font-size: large;
}

.num {
    background-color: rgb(214, 226, 43);
    font-weight: 700;
    font-size: large;
}

.func {
    background-color: orange;
    font-weight: 700;
    font-size: large;
}

#point {
    background-color: rgb(214, 226, 43);
    font-weight: 700;
    font-size: large;
}
